<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>121449346263-qsdknj8qbut2afadk6j25h490o44vjir.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.121449346263-qsdknj8qbut2afadk6j25h490o44vjir</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>121449346263-hjg6195vo87okquokodm6a4g67vhktod.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCQKFOw-YSM0yA9_EPioBV1XRAAkIMG7_E</string>
	<key>GCM_SENDER_ID</key>
	<string>121449346263</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myKaraokeSqlRiverpodV10</string>
	<key>PROJECT_ID</key>
	<string>my-karaoke-riverpod</string>
	<key>STORAGE_BUCKET</key>
	<string>my-karaoke-riverpod.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:121449346263:ios:65807da36875a0b2a46c92</string>
</dict>
</plist>